<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wj.driving.restfulapi.domain.mapper.driver.DriverMapper">

    <sql id="base_colum">
        id,name,sex,age,phone,id_card,star_level,license_img,state
    </sql>

    <insert id="insertDriver" parameterType="com.wj.driving.restfulapi.domain.bo.DriverBO">
        insert into
        driver(name,sex,age,phone,id_card,star_level,state)
        values(#{name},#{sex},#{age},#{phone},#{idCard},5,0)
    </insert>

    <update id="updateDriverState" parameterType="com.wj.driving.restfulapi.dto.driver.DriverDetailsDTO">
        update driver
        <set>
            <if test="state!=null">
                state = #{state}
            </if>
        </set>
        <where>
            <if test="id!=null">
                id = #{id}
            </if>
        </where>
    </update>

    <select id="countPage" resultType="java.lang.Integer">
        select count(1)
        from driver
        <include refid="pageWhere"></include>
    </select>

    <select id="getDriverDetailsList" resultType="com.wj.driving.restfulapi.domain.bo.DriverBO">
        select
        <include refid="base_colum"></include>
        from driver
        <include refid="pageWhere"></include>
        limit #{page},#{pageSize}
    </select>

    <sql id="pageWhere">
        <where>
            <if test="name!=null and name!=''">
                and name = #{name}
            </if>
            <if test="phone!=null and phone!=''">
                and phone = #{phone}
            </if>
            <if test="starLevel!=null">
                and star_level = #{starLevel}
            </if>
            <if test="state!=null">
                and state = #{state}
            </if>
        </where>
    </sql>
</mapper>