<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wj.driving.restfulapi.domain.mapper.driver.DriverMapper">

    <sql id="base_colum">
        id,name,sex,age,phone,idCard,starLevel,state
    </sql>

    <select id="countPage" resultType="java.lang.Integer">

    </select>

    <select id="getDriverDetailsList" resultType="com.wj.driving.restfulapi.domain.bo.DriverBO">

    </select>
</mapper>