<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wj.driving.restfulapi.domain.mapper.user.UserMapper">

    <!--基础字段-->
    <sql id="base_column">
        id,name,nickname,sex,mobile_no,id_card,address_id,state,create_time,last_update_time
    </sql>

    <select id="selectPage" resultType="com.wj.driving.restfulapi.domain.bo.UserBO">
        select
        <include refid="base_column"></include>
        from admin
        <include refid="pageWhereSql"></include>
        order by id
        limit #{page},#{pageSize}
    </select>

    <select id="countUser" resultType="java.lang.Integer">
        select count(1)
        from biz_user
        <include refid="pageWhereSql"></include>
    </select>

    <sql id="pageWhereSql">
        <where>
            <if test="name != null and name != ''">
                AND name like concat(trim(#{name}),'%')
            </if>
            <if test="nickname != null and nickname != ''">
                AND nickname like concat(trim(#{nickname}),'%')
            </if>
            <if test="mobileNo != null and mobileNo != ''">
                AND mobile_no like concat(trim(#{mobileNo}),'%')
            </if>
            <if test="state != null">
                AND state = #{state}
            </if>
        </where>
    </sql>
</mapper>