<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wj.driving.restfulapi.domain.mapper.user.UserMapper">

    <!--基础字段-->
    <sql id="base_column">
        id,name,nickname,sex,mobile_no,id_card,address_id,state,create_time,last_update_time
    </sql>

    <resultMap id="userMap" type="com.wj.driving.restfulapi.domain.bo.UserBO">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="nickname" property="nickname"/>
        <result column="sex" property="sex"/>
        <result column="mobile_no" property="mobileNo"/>
        <result column="id_card" property="idCard"/>
        <result column="address_id" property="addressId"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
        <result column="last_update_time" property="lastUpdateTime"/>
    </resultMap>

    <insert id="insert">
        insert into biz_user(name,age)
        values(#{studentname},#{age})
    </insert>

    <update id="updateUser">
        update biz_user
        <set>
            <if test="name!=null and name!=''">
                name = #{name},
            </if>
            <if test="nickname!=null and nickname!=''">
                nickname = #{nickname},
            </if>
            <if test="sex!=null and sex!=''">
                sex = #{sex},
            </if>
            <if test="mobileNo!=null">
                mobile_no = #{mobileNo},
            </if>
            <if test="idCard!=null">
                id_card = #{idCard},
            </if>
            last_update_time = now()
        </set>
        where id = #{id}
    </update>
    <update id="updateUserState">
        update biz_user
        <set>
            <if test="state!=null">
                state = #{state},
            </if>
            last_update_time = now()
        </set>
        where id = #{id}
    </update>

    <select id="selectPage" resultMap="userMap">
        select
        <include refid="base_column"></include>
        from biz_user
        <include refid="pageWhereSql"></include>
        order by id
        limit #{page},#{pageSize}
    </select>

    <select id="countUser" resultType="java.lang.Integer">
        select count(1)
        from biz_user
        <include refid="pageWhereSql"></include>
    </select>

    <sql id="pageWhereSql">
        <where>
            <if test="name != null and name != ''">
                AND name like concat(trim(#{name}),'%')
            </if>
            <if test="nickname != null and nickname != ''">
                AND nickname like concat(trim(#{nickname}),'%')
            </if>
            <if test="mobileNo != null and mobileNo != ''">
                AND mobile_no like concat(trim(#{mobileNo}),'%')
            </if>
            <if test="state != null">
                AND state = #{state}
            </if>
        </where>
    </sql>
</mapper>