<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wj.driving.restfulapi.domain.mapper.userorder.UserOrderMapper">

    <sql id="base_colum">
        orders.id,orders.order_no,user.name,user.mobile_no,orders.from_province,orders.from_city,orders.from_county,orders.from_street,orders.to_province,orders.to_city,orders.to_county,orders.to_street,orders.amount,orders.create_time,orders.last_update_time,orders.state
    </sql>

    <resultMap id="orderMap" type="com.wj.driving.restfulapi.dto.userorder.OrderDetailsDTO">
        <result column="id" property="id"/>
        <result column="order_no" property="orderNo"/>
        <result column="name" property="userName"/>
        <result column="mobile_no" property="mobileNo"/>
        <result column="from_provicne" property="fromProvicne"/>
        <result column="from_city" property="fromCity"/>
        <result column="from_county" property="fromCounty"/>
        <result column="from_street" property="fromStreet"/>
        <result column="to_province" property="toProvince"/>
        <result column="to_city" property="toCity"/>
        <result column="to_county" property="toCounty"/>
        <result column="to_street" property="toStreet"/>
        <result column="amount" property="amount"/>
        <result column="createe_time" property="createTime"/>
        <result column="last_update_time" property="lastUpdateTime"/>
        <result column="state" property="state"/>
    </resultMap>

    <update id="updateOrderInfo">
        update user_order
        <set>
            <if test="toProvince!=null and toProvince!=''">
                to_province = #{toProvince},
            </if>
            <if test="toCity!=null and toCity!=''">
                to_city = #{toCity},
            </if>
            <if test="toCounty!=null and toCounty!=''">
                to_county = #{toCounty},
            </if>
            <if test="toStreet!=null and toStreet!=''">
                to_street = #{toStreet},
            </if>
        </set>
            where id = #{id}
    </update>
    <select id="getOrderList" resultMap="orderMap">
        select
        <include refid="base_colum"></include>
        from user_order orders
        left join biz_user user on orders.user_id = user.id
        <include refid="pageWhere"></include>
        order by orders.id
        limit #{page},#{pageSize}
    </select>

    <select id="countPage" resultType="java.lang.Integer">
        select count(1)
        from user_order orders
        left join biz_user user on orders.user_id = user.id
        <include refid="pageWhere"></include>
    </select>

    <sql id="pageWhere">
        <where>
            <if test="orderNo != null">
                AND orders.order_no = #{orderNo}
            </if>
            <if test="userName != null and userName != ''">
                AND user.name = #{userName}
            </if>
            <if test="mobileNo != null">
                AND user.mobile_no like concat(trim(#{mobileNo}),'%')
            </if>
            <if test="province != null and province != ''">
                AND orders.province = #{province}
            </if>
            <if test="city != null and city != ''">
                AND orders.city = #{city}
            </if>
            <if test="county != null and county != ''">
                AND orders.county = #{county}
            </if>
            <if test="street != null and street != ''">
                AND orders.street = #{street}
            </if>
            <if test="state != null">
                AND orders.state = #{state}
            </if>
            <if test="minAmount != null and maxAmount != null">
                AND orders.amount between #{minAmount} and #{maxAmount}
            </if>
            <if test="beginTime != null and endTime != null">
                AND orders.create_time between #{beginTime} and #{endTime}
            </if>
        </where>
    </sql>
</mapper>