<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wj.driving.restfulapi.domain.mapper.useraddress.UserAddressMapper">
    <!--基础字段-->
    <sql id="base_column">
        id,userId,province,city,county,street,detail,state,create_time,last_update_time
    </sql>
</mapper>